.custom-restricted-width {
	/*display: inline-block;
	 */
	margin-right: 0.5em;
}

.row-flex {
	display: flex;
	flex-direction: row; /* default: row */
}

.col-flex {
	display: inline-flex;
	flex-direction: column;
}

nav {
	background-color: #eff;
}

header  {
	background-color: #ffc;
}

footer {
	background-color: #ffc;
}
